footer{
  border-top: 1px solid #797979;
  min-height: 10vh;
  padding: 2% 3%;
  display: flex;
  justify-content: space-between;
}
footer > div{
  display: flex;
  align-items: center;
  gap: 24px;
}

@media only screen and (nax-width: 1200px) {
}
@media only screen and (max-width: 1000px) {
}
@media only screen and (max-width: 850px) {
}
